.detail-user {
     font-family: 'Roboto', sans-serif;
}

.detail {
     border: 1px solid #6C6C6C;     
     border-radius: 8px;
     padding: 16px;
     font-size: 15px;     
}

.search-transaksi {
     padding: -16px 0 !important;
}

.title-transaksi {
     margin-bottom: -15px !important;
}
