/* .sidebar ul li:hover {
    background-color: #2B3990;
    color: white !important; 
    border-radius: 16px;
} */

/* Gaya untuk tautan navigasi yang aktif */

/* Logout */
.sidebar {
    position: relative;
    height: 75vh;
    font-family: 'Roboto', sans-serif;    
}

a {
    text-decoration: none !important;
    cursor: pointer;    
}

.link {
    padding-left: 18px !important;
    padding-right: 32px !important;
    padding-top: 8px ;
    padding-bottom: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link:hover {
    background-color: #727BB5 !important;
    border-radius: 16px !important;
}
.link.active {
    color: white !important;
    background-color: #2B3990 !important;
    border-radius: 16px;
}
