/* Gaya default untuk tombol */
/* button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    color: black;
  } */

  /* Gaya saat tombol diklik atau mendapatkan fokus */
  /* button:active, button:focus {
    text-decoration: underline;
  } */